<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wudi.crm.mapper.SystemDictionaryItemMapper">

	<sql id="querySql">
		<where>
			<if test="name != null">
				m.name like concat('%',#{name},'%')
			</if>
			<if test="sn != null">
				and m.sn like concat('%',#{sn},'%')
			</if>
			<if test="parentId !=null">
				and m.parent_id=#{parentId}
			</if>
		</where>
	</sql>
	
	<resultMap type="SystemDictionaryItem" id="sdiResultMap">
		<id column="m_id" property="id"/>
		<result column="m_name" property="name" />
		<result column="m_sn" property="sn" />
		<!-- 多对一 -->
		<association property="parent" javaType="SystemDictionary">
			<id column="p_id" property="id"/>
			<result column="p_name" property="name" />
		</association>
	</resultMap>
	
	<update id="createTable">
		create table if not exists t_systemdictionaryitem(
			id bigint(20) not null auto_increment,
			sn int(11) default null,
			name varchar(20) not null,
			parent_id bigint(20) not null,
			primary key(id)
		)engine=innodb default charset=utf8
	</update>
	
	<insert id="save" parameterType="SystemDictionaryItem">
		insert into t_systemdictionaryitem (sn, name, parent_id) values(#{sn}, #{name}, #{parent.id})
	</insert>
	
	<delete id="delete" parameterType="long">
		delete from  t_systemdictionaryitem where id=#{id}
	</delete>
	
	<delete id="deleteByParentId" parameterType="long">
		delete from t_systemdictionaryitem where parent_id=#{id}
	</delete>
	
	<update id="update" parameterType="SystemDictionaryItem">
		update t_systemdictionaryitem set sn=#{sn}, name=#{name}, parent_id=#{parent.id} where id=#{id}
	</update>
	
	<select id="get" parameterType="long" resultMap="sdiResultMap">
		select m.id m_id, m.sn m_sn,m.name m_name, p.id p_id,p.name p_name
		from t_systemdictionaryitem m left join t_systemdictionary p on(m.parent_id=p.id) where m.id=#{id}
	</select>
	
	<select id="getList" parameterType="SystemDictionaryItemQuery" resultMap="sdiResultMap">
		select m.id m_id, m.sn m_sn,m.name m_name, p.id p_id,p.name p_name
		from t_systemdictionaryitem m left join t_systemdictionary p on(m.parent_id=p.id)
		<include refid="querySql"/>
		<if test="rows != null">
			limit #{beginIndex}, #{rows}
		</if>
	</select>
	
	<select id="getCount" parameterType="SystemDictionaryItemQuery" resultType="int">
		select count(*) from t_systemdictionaryitem m
		<!-- 导入查询语句 -->
		<include refid="querySql"/>
	</select>
	
	<select id="getByParentId" parameterType="long" resultType="SystemDictionaryItem">
		select * from t_systemdictionaryitem where parent_id=#{id}
	</select>
	
</mapper>